In [1]:
import os, sys, glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

sys.path.append('../')

# Train Data

In [2]:
# load train datasets
base_path = '../data/'

train_trait_data = pd.read_csv(base_path + 'Training_data/1_Training_Trait_Data_2014_2023.csv')
train_metadata = pd.read_csv(base_path + 'Training_data/2_Training_Meta_Data_2014_2023.csv')
train_soil_data = pd.read_csv(base_path + 'Training_data/3_Training_Soil_Data_2015_2023.csv')
train_weather_data = pd.read_csv(base_path + 'Training_data/4_Training_Weather_Data_2014_2023_full_year.csv')
train_weather_data_seasons_only = pd.read_csv(base_path + 'Training_data/4_Training_Weather_Data_2014_2023_seasons_only.csv')
train_geno_data_all_hybrids = pd.read_csv(base_path + 'Training_data/5_Genotype_Data_All_2014_2025_Hybrids_numerical.txt')
train_ec_data = pd.read_csv(base_path + 'Training_data/6_Training_EC_Data_2014_2023.csv')

In [12]:
train_trait_data.head()

,Env,Year,Field_Location,Experiment,Replicate,Block,Plot,Range,Pass,Hybrid,...,Stand_Count_plants,Pollen_DAP_days,Silk_DAP_days,Plant_Height_cm,Ear_Height_cm,Root_Lodging_plants,Stalk_Lodging_plants,Yield_Mg_ha,Grain_Moisture,Twt_kg_m3
0,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,1,1.0,1.0,M0088/LH185,...,56.0,63.0,67.0,213.0,79.0,0.0,0.0,5.721725,20.8,706.664693
1,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,2,1.0,2.0,M0143/LH185,...,54.0,61.0,63.0,286.0,172.0,0.0,0.0,11.338246,25.8,693.792841
2,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,3,1.0,3.0,M0003/LH185,...,60.0,63.0,65.0,239.0,92.0,0.0,4.0,6.540810,20.8,698.941582
3,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,4,1.0,4.0,M0035/LH185,...,59.0,61.0,63.0,242.0,118.0,0.0,0.0,10.366857,23.7,711.813434
4,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,5,1.0,5.0,M0052/LH185,...,58.0,63.0,65.0,211.0,92.0,0.0,0.0,10.908814,19.4,743.993065

In [5]:
train_metadata.head()

,Year,Env,Experiment_Code,Treatment,City,Farm,Field,Trial_ID (Assigned by collaborator for internal reference),"Soil_Taxonomic_ID and horizon description, if known","Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)",...,Cardinal_Heading_Pass_1,Irrigated,Issue/comment_#1,Issue/comment_#2,Issue/comment_#3,Issue/comment_#4,Issue/comment_#5,Issue/comment_#6,Issue/comment_#7,Issue/comment_#8
0,2014,DEH1_2014,DEH1,NaN,Georgetown,Elbert N. & Ann V. Carvel Research & Education...,27AB,NaN,NaN,9079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,GAH1_2014,GAH1,NaN,Tifton,USDA - Bellflower experimental farm,18,NaN,NaN,8427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,IAH1a_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH...",NaN
3,2014,IAH1b_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH...",NaN
4,2014,IAH1c_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH...",NaN

In [6]:
train_soil_data.head()

,Year,Env,LabID,Date Received,Date Reported,E Depth,1:1 Soil pH,WDRF Buffer pH,1:1 S Salts mmho/cm,Texture No,...,% Silt,% Clay,Texture,BpH,Zinc ppm Zn,Iron ppm Fe,Manganese ppm Mn,Copper ppm Cu,Boron ppm B,Comments
0,2015,IAH1_2015,UW Soil & Plant Analysis Lab,NaN,5/27/2015,NaN,5.3,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,IAH3_2015,UW Soil & Plant Analysis Lab,NaN,5/27/2015,NaN,6.5,NaN,NaN,NaN,...,NaN,NaN,NaN,6.5,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,IAH4_2015,Soil & Forage Analysis Lab,NaN,12/7/2015,NaN,6.4,NaN,NaN,NaN,...,NaN,NaN,NaN,6.4,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,INH1_2015,UW Soil & Plant Analysis Lab,NaN,6/2/2015,NaN,6.1,NaN,NaN,NaN,...,NaN,NaN,NaN,6.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,KSH1_2015,UW Soil & Plant Analysis Lab,NaN,5/8/2015,NaN,6.5,NaN,NaN,NaN,...,NaN,NaN,NaN,6.7,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
train_weather_data.head()

,Env,Date,RH2M,T2M_MAX,ALLSKY_SFC_SW_DWN,T2MWET,GWETTOP,QV2M,GWETPROF,T2M_MIN,T2MDEW,PS,T2M,GWETROOT,ALLSKY_SFC_PAR_TOT,WS2M,ALLSKY_SFC_SW_DNI,PRECTOTCORR
0,DEH1_2015,20150101,74.81,6.00,10.75,-1.61,0.77,2.81,0.74,-3.39,-3.86,102.08,0.63,0.77,50.83,3.13,26.76,0.00
1,DEH1_2015,20150102,79.81,8.23,5.72,0.59,0.77,3.42,0.74,-1.47,-1.08,102.44,2.26,0.77,28.82,2.02,2.59,0.00
2,DEH1_2015,20150103,92.81,7.77,1.74,3.99,0.78,4.94,0.74,-1.35,3.57,102.70,4.41,0.77,9.40,1.90,1.36,6.70
3,DEH1_2015,20150104,95.00,18.62,4.05,12.99,0.80,9.34,0.75,6.78,12.58,101.20,13.40,0.78,21.84,5.38,2.17,9.98
4,DEH1_2015,20150105,63.38,8.73,10.92,-0.87,0.79,2.87,0.76,-3.14,-4.08,102.41,2.34,0.79,51.96,5.17,27.70,0.00

In [8]:
train_weather_data_seasons_only.head()

,Env,Date,RH2M,T2M_MAX,ALLSKY_SFC_SW_DWN,T2MWET,GWETTOP,QV2M,GWETPROF,T2M_MIN,T2MDEW,PS,T2M,GWETROOT,ALLSKY_SFC_PAR_TOT,WS2M,ALLSKY_SFC_SW_DNI,PRECTOTCORR
0,DEH1_2015,20150415,69.12,16.03,15.94,9.57,0.88,5.98,0.88,9.23,6.57,102.19,12.56,0.91,83.09,2.70,6.85,0.28
1,DEH1_2015,20150416,75.00,19.06,25.09,10.77,0.87,6.77,0.88,7.72,8.44,102.68,13.10,0.91,126.43,2.54,27.66,0.01
2,DEH1_2015,20150417,88.94,22.12,16.35,15.49,0.87,10.25,0.87,11.17,14.51,101.69,16.48,0.91,87.12,3.07,14.00,3.04
3,DEH1_2015,20150418,79.75,23.44,24.56,16.05,0.87,9.95,0.86,12.42,14.12,101.44,18.00,0.90,126.23,1.41,28.05,0.36
4,DEH1_2015,20150419,84.44,14.35,18.07,11.32,0.87,7.57,0.86,10.57,9.98,101.77,12.65,0.89,94.41,5.13,8.14,8.92

In [9]:
train_geno_data_all_hybrids.head()

                                           <Numeric>
0  <Marker>\tS1_1007742\tS1_1020677\tS1_2018002\t...
1  01CSI6/LH287\t0.5\t1\t1\t1\t1\t1\t1\t1\t0.5\t1...
2  01DIB2/LH287\t1\t1\t1\t1\t1\t0.5\t0.5\t1\t1\t1...
3  01DIB2/PHP02\t1\t0.5\t0.5\tNA\t1\t0\t0\t1\t1\t...
4  2369/DK3IIH6\t0.5\t1\t0.5\t1\t1\t0.5\t0.5\t0.5...